/* ! ------------------------fonts-------------------- */
@font-face {
  font-family: "Ustroke Regular";
  src: url("../fonts/Ustroke-regular.woff2"), url("../fonts/Ustroke-regular.woff"), url("../fonts/Ustroke-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CCRickVeitch";
  src: url("../fonts/CCRickVeitch.woff2"), url("../fonts/CCRickVeitch.woff"), url("../fonts/CCRickVeitch.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "City Nova Regular";
  src: url("../fonts/City-Nova-regular.woff2"), url("../fonts/City-Nova-regular.woff"), url("../fonts/City-Nova-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Trajan Pro";
  src: url("../fonts/TrajanPro-regular.woff2"), url("../fonts/TrajanPro-regular.woff"), url("../fonts/TrajanPro-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/Avenir-Next.woff2"), url("../fonts/Avenir-Next.woff"), url("../fonts/Avenir-Next.ttf");
  font-weight: 400;
  font-style: normal;
}
/* ! -------------------reset-styles------------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ! ------------------------body-------------------- */
html,
body {
  min-width: 320px;
  height: 100%;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
}

button {
  transition-duration: 0.3s !important;
  cursor: pointer;
  background-color: unset;
}
button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  transition: transform 0.8s ease 0.8s;
  transform: translate(0px, 0px);
}

.wrapper._loaded .page__pagination {
  transform: translate(0px, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transform: translate(0px, -100%);
  background-color: #fff;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__link {
  font-family: "City Nova Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  transition: color 0.3s ease 0s;
  margin: 0px 20px 0px 0px;
}

.menu__link._active {
  font-weight: 700;
  color: #e9411d;
}

.connect {
  transform: translateX(-15px);
}
.connect span {
  font-size: 18px;
}
.connect__link span {
  font-size: 20px;
  font-weight: 700;
}
.connect__image {
  width: 22px;
  height: 22px;
}
.connect__image_position {
  transform: translateY(5%);
  margin-right: 5px;
  margin-left: 10px;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(50px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.page__bullet:focus {
  outline: none;
}
.page__bullet_active {
  background-color: #e9411d;
}
.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(233, 65, 29, 0.7);
  cursor: pointer;
}

.screen {
  position: relative;
  flex: 1 0 100%;
}
.screen__content {
  position: relative;
  z-index: 2;
  color: #e6e6e6;
}
.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screen__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.screen__general {
  display: flex;
  height: 100vh;
}

.main {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1800px;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}
.main__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 25px 25px 25px;
  max-width: 750px;
  height: 100%;
}
.main__logo {
  font-family: "Ustroke Regular", Arial, Helvetica, sans-serif;
}
.main__calculation {
  padding: 90px 25px 25px 25px;
  max-width: 650px;
}

.logo__link {
  display: flex;
  align-items: center;
  color: inherit;
}
.logo__name {
  font-size: 60px;
}
.logo__subtitle {
  font-size: 25px;
  letter-spacing: 4px;
}
.logo__image {
  margin-left: 10px;
  width: 100px;
}

.main-menu {
  margin-top: 50px;
  font-family: "City Nova Regular", Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
}
.main-menu__list {
  display: flex;
}
.main-menu__list li {
  position: relative;
  transition: all 0.5s ease 0s;
}
.main-menu__list > li:nth-child(n+2) {
  margin-left: 30px;
}
.main-menu__list li:hover {
  color: #eb6320;
  transition: all 0.5s ease 0s;
}
.main-menu__link {
  position: relative;
  z-index: 2;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 0px;
  top: 30px;
  padding: 10px;
  min-width: 470px;
  font-size: 20px;
}
.sub-menu__list li {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.sub-menu__list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.sub-menu__list li:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub-menu__list li:nth-child(n+2) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(233, 65, 29, 0.7);
}
.sub-menu__link {
  transition: all 0.5s ease 0s;
}
.sub-menu__link:hover {
  color: #eb6320;
  transition: all 0.5s ease 0s;
}

.arrow {
  display: none;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 10px solid #e6e6e6;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: all 0.5s ease 0s;
}

body.mouse .main-menu__list > li:hover .sub-menu__list {
  display: block;
}

body.touch .arrow {
  display: block;
}

.main-menu a.parent {
  margin-right: 30px;
}

.sub-menu__list.open {
  display: block;
}

.arrow.active {
  transform: rotate(-180deg);
  transition: all 0.5s ease 0s;
}

.description {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.description__title {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 50px;
}
.description__subtitle {
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-size: 25px;
}

.calculation {
  position: relative;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir Next";
  line-height: 1.1;
}
.calculation__title-cost {
  text-align: center;
  font-size: 30px;
}
.calculation__title-tax {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}
.calculation__sign {
  text-align: center;
  font-size: 18px;
}

.ad-cost {
  color: #000;
  padding: 20px 25px 0px 20px;
  width: 650px;
  background-image: url("../img/main/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ad-cost__title {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 19px;
  text-align: center;
}
.ad-cost__subtitle {
  margin-top: 10px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}
.ad-cost__button {
  margin: 30px auto 0 auto;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.button {
  position: relative;
  display: block;
  top: 0;
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-decoration: none;
  background: linear-gradient(to left, #E94110, #Eb6320);
  font-family: "City Nova Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  color: #fff;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.button_center {
  margin: 0 auto;
}
.button:hover {
  top: -5px;
  box-shadow: 0 0 40px rgba(233, 65, 29, 0.7);
}
.button:active {
  top: 0;
}
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  left: -80px;
  top: -50px;
  z-index: 1;
  transform: rotate(45deg);
  animation-name: slideme;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
.button-cost {
  margin: 30px auto 0 auto;
  width: 300px;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.button-tax {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 500px;
  height: 100px;
}

.about {
  flex-direction: column;
  justify-content: space-between;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
}
.about__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 95%;
  padding: 120px 80px 0 80px;
}
.about__block {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  border: 3px solid #e9411d;
  padding: 60px 25px 50px 25px;
  width: 500px;
  font-family: "CCRickVeitch", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}
.about__block:last-child {
  margin-left: 25%;
}
.about p {
  position: relative;
  z-index: 1;
  font-size: 20px;
}
.about p span {
  color: #e9411d;
}
.about__title {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: 2;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: rgba(233, 65, 29, 0.9);
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  font-size: 25px;
}
.about__offers {
  margin: 0 auto 20px auto;
}
.about__main-title {
  position: relative;
  z-index: 1;
  margin: 10px auto;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  font-size: 40px;
  letter-spacing: 2px;
}

.offers {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0 15px;
}
.offers__block {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  border: 3px solid #eb6320;
  padding: 15px;
}
.offers__block:nth-child(n+2) {
  margin-left: 20px;
}
.offers__block p {
  position: relative;
  z-index: 1;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.offers__block p span {
  color: #e9411d;
}
.offers__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 46px;
  margin-bottom: 10px;
  font-family: "CCRickVeitch", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #eb6320;
}

.buy-or-sale {
  margin: 0 auto;
  max-width: 1800px;
}
.buy-or-sale::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}
.buy-or-sale__buy {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
}
.questions {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 48px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.questions__buy {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: left 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s, color 0.8s ease 0s;
}
.questions__buy:hover {
  color: #e9411d;
}
.questions__sale {
  position: absolute;
  z-index: 3;
  top: 70%;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  transition: right 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s, color 0.8s ease 0s;
}
.questions__sale:hover {
  color: #e9411d;
}

.close-to-left {
  left: -50%;
}

.close-to-right {
  right: -50%;
}

.buy {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease 0s;
}
.buy__main-title {
  position: relative;
  top: -400px;
  opacity: 0;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  transition: all 0.5s ease 0.6s;
}
.buy__main-title_active {
  top: 0;
  opacity: 1;
}
.buy__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 40px;
}
.buy__block {
  position: relative;
  border: 3px solid #e9411d;
  border-radius: 15px;
  padding: 25px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.6);
}
.buy__new {
  left: -100%;
  transition: all 0.5s ease 1.4s;
}
.buy__new.buy__new.buy__new_active {
  left: 0;
}
.buy__old {
  right: -100%;
  transition: all 0.5s ease 1.4s;
}
.buy__old_active {
  right: 0;
}
.buy__title {
  text-align: center;
  font-family: "Ustroke Regular", Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #e9411d;
}
.buy__description {
  margin-top: 15px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.buy__description li:nth-child(n+2) {
  margin-top: 10px;
}
.buy__description li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  border-left: 10px solid #e9411d;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.buy__sign {
  font-family: "CCRickVeitch", Arial, Helvetica, sans-serif;
  font-size: 30px;
  opacity: 0;
  transition: all 0.5s ease 1.5s;
}
.buy__sign span {
  color: #e9411d;
}
.buy__sign_active {
  opacity: 1;
}
.buy__button {
  position: relative;
  right: 200px;
  opacity: 0;
  margin-top: 100px;
  transition: opacity 0.5s ease 2s, box-shadow 0.3s ease 0s;
}
.buy__button_active {
  right: 0;
  opacity: 1;
  transition: opacity 0.5s ease 2s, top 0.5s ease 0s, box-shadow 0.3s ease 0s;
}

.sale {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1650px;
}
.sale__main-title {
  position: relative;
  margin: 0 auto;
  top: -400px;
  opacity: 0;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  transition: all 0.5s ease 0.6s;
}
.sale__main-title_active {
  top: 0;
  opacity: 1;
}
.sale__block {
  position: relative;
  bottom: -850px;
  opacity: 0;
  margin: 30px auto;
  border: 3px solid #e9411d;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease 1.4s;
}
.sale__block_active {
  bottom: 0;
  opacity: 1;
}
.sale__title {
  text-align: center;
  font-family: "Ustroke Regular", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #e9411d;
}
.sale__description {
  margin-top: 15px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.sale__description li:nth-child(n+2) {
  margin-top: 10px;
}
.sale__description li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  border-left: 10px solid #e9411d;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.sale__button {
  opacity: 0;
  margin: 0 auto;
  width: 300px;
  height: 70px;
  transition: opacity 0.5s ease 2s, box-shadow 0.3s ease 0s;
}
.sale__button_active {
  opacity: 1;
  transition: opacity 0.5s ease 2s, top 0.5s ease 0s, box-shadow 0.3s ease 0s;
}

.portfolio {
  flex-direction: column;
  justify-content: center;
}
.portfolio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}
.portfolio__wrapper {
  position: relative;
  margin: 50px auto 0 auto;
  width: 80%;
}
.portfolio__main-title {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  border-bottom: 1px solid #E94110;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-align: center;
  font-size: 34px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.portfolio__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 730px;
  min-width: 0;
}
.portfolio__title {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.portfolio__content {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.portfolio__image {
  margin-top: 15px;
  width: 100%;
  padding: 30% 0;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.portfolio__description {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.result {
  border: 2px solid #E94110;
  border-radius: 15px;
  transform: translateY(-20px);
  background-color: rgba(0, 0, 0, 0.5);
}
.result__flex-container {
  display: flex;
}
.result__flex-container_position {
  justify-content: space-between;
}
.result__title {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 22px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.result__subtitle {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.result__new-cost {
  margin-top: 20px;
}
.result__prev-cost {
  margin-right: 35px;
}
.result__image {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.portfolio-slider {
  position: relative;
  width: 90%;
}

.consultation {
  flex-direction: column;
  justify-content: center;
}
.consultation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
}
.consultation__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.consultation__title {
  text-align: center;
  font-size: 48px;
}
.consultation__description {
  font-size: 25px;
  width: 50%;
  margin: 10px auto 0 auto;
  padding-left: 30px;
  border-left: 3px solid #E94110;
}
.consultation__list {
  margin: 30px auto 0 auto;
  width: 60%;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}
.consultation__item {
  position: relative;
}
.consultation__item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid #E94110;
  border-radius: 50%;
  vertical-align: middle;
}
.consultation__item:nth-child(n+2) {
  margin-top: 5px;
}
.consultation__checkmark {
  position: absolute;
  top: -3px;
  left: 1px;
  width: 25px;
  height: 25px;
}
.consultation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #E94110;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.consultation__form_size {
  margin: 20px auto 0 auto;
  width: 80%;
}
.consultation__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.consultation__form-group {
  width: 32%;
}
.consultation__name {
  font-size: 20px;
}
.consultation__input {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 0 15px;
  border-radius: 7px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease 0s;
}
.consultation__input:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.consultation__input:focus {
  background-color: white;
  outline: none;
}
.consultation__form-group-textarea {
  width: 100%;
}
.consultation__textarea {
  display: block;
  width: 100%;
  height: 150px;
  resize: none;
  margin-top: 10px;
  padding: 15px;
  border-radius: 7px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease 0s;
}
.consultation__textarea:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.consultation__textarea:focus {
  background-color: white;
  outline: none;
}
.consultation__button {
  display: block;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}
.consultation__button:focus {
  outline: none;
}
.consultation ::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
.consultation ::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0px 0px 3px #000 inset;
}
.consultation ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e9411d;
  box-shadow: 0px 1px 1px #fff inset;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;
}
.consultation ::-webkit-resizer {
  width: 7px;
  height: 0px;
}
.consultation ::-webkit-scrollbar {
  width: 11px;
}

.feedback {
  flex-direction: column;
  justify-content: center;
}
.feedback::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
}
.feedback__wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  width: 85%;
  margin: 60px auto 0 auto;
}
.feedback__main-title {
  position: relative;
  z-index: 2;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-align: center;
  font-size: 48px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.feedback__section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border-radius: 25px;
  background-color: #fff;
  padding: 15px 15px 100px 15px;
  border: 3px solid #e9411d;
}
.feedback__text {
  object-fit: contain;
  object-position: top;
  border-radius: 25px;
  max-width: 100%;
}
.feedback__image {
  background-size: cover;
  background-position: top;
}
.feedback__container {
  position: relative;
  z-index: 2;
  margin: 20px auto 0 auto;
  padding: 10px 15px 15px 15px;
  width: 76.6%;
  border: 3px solid rgba(233, 65, 29, 0.6);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.feedback__instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.feedback__instagram a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.feedback__instagram a img {
  width: 230px;
  height: 30px;
  vertical-align: middle;
}
.feedback__instagram a::before {
  content: "";
  display: inline-block;
  background-image: url("../img/4-screen/instagram_logo.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.feedback__macromir {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.feedback__macromir a {
  margin-left: 20px;
}
.feedback__macromir a img {
  position: relative;
  top: 4px;
  width: 200px;
}

.feedback-slider {
  position: relative;
  width: 90%;
}

.partners {
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}
.partners::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}
.partners__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #e9411d;
}
.partners__title {
  position: absolute;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 48px;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.partners__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  min-height: 200px;
  padding: 2.5%;
}
.partners__card:nth-child(n+6) {
  border-top: 1px solid #e9411d;
}
.partners__card:nth-child(2n+3) {
  border-left: 1px solid #e9411d;
}
.partners__card:nth-child(4n+4) {
  border-left: 1px solid #e9411d;
}
.partners__logo {
  object-fit: contain;
  max-width: 100%;
}
.partners__ad-sale {
  margin-top: 30px;
  z-index: 3;
  border-radius: 20px;
  border: 2px solid #E94110;
  padding: 20px;
  background-image: url("");
  background-color: rgba(0, 0, 0, 0.6);
  color: #e6e6e6;
  width: 50%;
}
.partners__ad-sale-title {
  text-align: center;
  font-size: 28px;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.partners__button {
  margin: 20px auto 0 auto;
  width: 330px;
  font-size: 20px;
}

.contacts::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 50px;
  padding-top: 80px;
  z-index: 2;
  width: 60%;
}
.contacts__main-title {
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  font-size: 40px;
}
.contacts__subtitle {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 26px;
}
.contacts__form {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
}
.contacts__button {
  margin-top: 20px;
}
.contacts__socials {
  margin-top: 30px;
}
.contacts__socials-link:nth-child(n+2) {
  margin-left: 50px;
}
.contacts__socials-item {
  width: 100px;
  max-height: 100px;
  object-fit: contain;
}
.contacts__info {
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 3;
  width: 650px;
  text-align: center;
  padding: 15px;
  border: 1px solid #E94110;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
  font-size: 28px;
}
.contacts__info a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 33px 15px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1.2s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translateY(0);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  position: relative;
  background-color: #ffffff;
  transition: all 1.2s ease 0s;
  opacity: 0;
  transform: perspective(600px) translateY(-200%) rotateX(45deg);
}
.popup__close {
  position: absolute;
  right: 0;
  top: -40px;
  width: 30px;
  height: 30px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.popup-test {
  max-width: 1200px;
}
.popup-test__form {
  display: flex;
  flex-direction: column;
}
.popup-test__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eb6320;
  padding: 25px;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 20px;
}
.popup-test__main-title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../svg/documents.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.popup-test__page {
  display: inline-block;
  width: 30px;
}
.popup-test__progress {
  width: 100%;
  height: 7px;
  background-color: #cbcbcb;
}
.popup-test__progress-value {
  height: 100%;
  width: 0%;
  background-color: #E94110;
  transition: all 1s ease 0s;
}
.popup-test__form-group {
  display: flex;
  flex-direction: column;
  padding: 25px;
  min-height: 400px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}
.popup-test__form-group_height {
  min-height: 0;
}
.popup-test__title {
  font-size: 25px;
  margin-bottom: 30px;
}
.popup-test__form-box {
  display: flex;
}
.popup-test__form-box div:nth-child(2) {
  margin-left: 80px;
}
.popup-test__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 20px;
  cursor: pointer;
}
.popup-test__radio {
  position: absolute;
}
.popup-test__radio:checked ~ .popup-test__point::before {
  background-image: url("../svg/form-circle.svg");
}
.popup-test__text {
  margin-top: 30px;
  padding: 10px 20px;
  border-bottom: 1px solid #E94110;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 20px;
}
.popup-test__text_position {
  margin-top: 10px;
}
.popup-test__text:focus {
  outline: 1px solid #E94110;
  border: 0;
}
.popup-test__point {
  position: relative;
}
.popup-test__point::before {
  content: "";
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: contain;
  transition: all 0.3s ease 0s;
}
.popup-test__footer {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.popup-test__button-back span {
  position: relative;
  top: 2px;
  display: inline-block;
  transform: rotate(180deg);
}
.popup-test__button-up {
  margin-left: auto;
}
.popup-test__button-up::after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  left: -80px;
  top: -50px;
  z-index: 1;
  transform: rotate(45deg);
  animation-name: slideme;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.popup-test__button-up span {
  position: relative;
  top: 2px;
}
.popup-test__image {
  padding: 20px;
  object-fit: contain;
}

.button-popup {
  position: relative;
  display: block;
  width: 170px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 35px;
  background: linear-gradient(to left, #E94110, #Eb6320);
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  overflow: hidden;
}
.button-popup_size {
  width: 280px;
}
.button-popup:hover {
  box-shadow: 0 0 20px rgba(233, 65, 29, 0.7);
}
.button-popup:active {
  top: 3px;
}

.cost-test__main-title {
  margin-right: 500px;
}
.cost-test__progress-value_2 {
  width: 16.67%;
}
.cost-test__progress-value_3 {
  width: 33.34%;
}
.cost-test__progress-value_4 {
  width: 50%;
}
.cost-test__progress-value_5 {
  width: 66.68%;
}
.cost-test__progress-value_6 {
  width: 83.35%;
}
.cost-test__progress-value_end {
  width: 100%;
}

.tax-test__main-title {
  margin-right: 300px;
}
.tax-test__progress-value_2 {
  width: 33.33%;
}
.tax-test__progress-value_3 {
  width: 66.67%;
}
.tax-test__progress-value_end {
  width: 100%;
}

.popup-buy {
  max-width: 550px;
  margin-top: 10px;
  padding: 25px;
  background-image: url("../img/buy-or-sale/form-buy_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popup-buy input:focus,
.popup-buy select:focus {
  outline: 2px solid #e9411d;
}
.popup-buy::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}
.popup-buy:focus {
  outline: none;
}
.popup-buy__form {
  position: relative;
  z-index: 2;
}
.popup-buy__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Ustroke Regular", Arial, Helvetica, sans-serif;
  color: #e6e6e6;
}
.popup-buy__form-group {
  margin-top: 20px;
}
.popup-buy__label {
  display: flex;
  flex-direction: column;
}
.popup-buy__name {
  margin-bottom: 5px;
  font-family: "Trajan Pro", "Times New Roman", Times, serif;
  font-size: 25px;
  color: #e6e6e6;
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777, 3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}
.popup-buy__container {
  display: flex;
  justify-content: space-between;
}
.popup-buy__rooms {
  padding: 10px;
  min-height: 40px;
  cursor: pointer;
}
.popup-buy__input-size {
  padding: 10px;
  width: 47%;
  min-height: 40px;
}
.popup-buy__metro {
  padding: 10px;
  min-height: 40px;
  cursor: pointer;
}
.popup-buy__contacts {
  padding: 10px;
  min-height: 40px;
}
.popup-buy__contacts:nth-child(n+2) {
  margin-top: 10px;
}
.popup-buy__button {
  margin: 30px auto 0 auto;
  cursor: pointer;
}
.popup-buy__button:focus {
  outline: none;
}

.hide {
  display: none;
}